Apache-Kafka/.venv/
Apache-Kafka/backup/
Monitoring/.venv/
RabbitMQ/.venv/
Monitoring/Curator/.venv/
Monitoring/Curator/debug.log
Search-Engine/Docker/elasticsearch/backup/
Fabric/.venv/
Search-Engine/Docker/elasticsearch/.venv/
Search-Engine/prometheus/
Search-Engine/Shell_Scripts/SSH/.ven/
.idea
Search-Engine/Shell_Scripts/SSH/.venv/
